// @import 'mixins';

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}


body {
	background: lightgrey;
}

#carousel {
	padding: 10px;
	position: relative;
	width: 100%;
	max-width: 940px;	
	margin: 100px auto;
	height: 270px;
	background: rgba(255,255,250,.7);
	box-shadow: -10px 8px 8px -5px rgba(0,0,0,.25);
}

.arrow {
	position: absolute;
	top: 270px / 2 - 25px;
	display: inline-block;
	height: 50px;
	width: 50px;

	&:hover {
		cursor: pointer;
	}
}

.arrow:first-child {
	background: url('../img/arrow-left.svg') no-repeat;
	left: -55px;
}

.arrow:last-child {
	background: url('../img/arrow.svg') no-repeat;
	right: -55px;
}

.slides {
	width: 100%;
	height: 250px;
	overflow: hidden;
	position: relative;
}

.carousel-wrapper {
	position: absolute;
	left: 0;
	transition: left 400ms ease-in-out;
	display: flex;

	.carousel__row:last-child img:last-child {
		margin-right: 10px;
	}
}

.carousel__row {
	display: flex;

	img {
		margin-left: 10px;
	}
}

.carousel__row:first-child img:first-child {
	margin: 0;
}

.btn-disabled {
	opacity: .5;
	transition: opacity 40ms linear;

	&:hover { 
		cursor: auto;
	}
}


@media screen and (max-width: 1100px) {
	#carousel {
		width: 630px;
		margin: 50 auto;
	}
}

@media screen and (max-width: 800px) {
	#carousel {
		width: 320px;
	}
}

@media screen and (max-width: 400px) {
	.arrow:first-child {
		z-index: 100;
		left: 10px;
	}

	.arrow:last-child {
		right: 10px;
		margin: 0 auto;
	}
}